nav{
    width: 100%;
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 15px 8%;
    height: 20vh;
}
nav ul{
    padding: 10px 30px;
    border-radius: 30px;
}
nav ul li{
    display: inline-block;
    margin: 0 10px;
    font-size: calc(40 * var(--res));  
    transition: all 1s ease;     
}
nav ul li:hover{
    transform: scale(1.1);
}
a.active{
    color: var(--bg3-color);
}
nav span{
    display: inline-block;
    background-color: var(--bg2-color);
    height: 3vh;
    width: 2px;
}
nav .lng{
    background-color: transparent;
    outline: 0;
    border: 0;
    font-size: calc(40 * var(--res));
    margin: 0 0.5rem;
}
.menu-icon{
    display: none;
}

button{
    border: none;
    background: none;
    font-size: 20px;
}
.mobile-menu-icon{
    display: none;
}
  

@media screen and (max-width: 785px) {
    nav ul{
        padding: 5px 15px;
        border-radius: 30px;
    }
    nav ul li{
        display: inline-block;
        margin: 0 5px;
        font-size: calc(32 * var(--res));  
        transition: all 1s ease;     
    }
    nav .btn{
        padding: 6px 12.5px;
        font-size: calc(32 * var(--res)); 
    }
    nav .btns{
        gap: 0.4rem;
    }
    nav span{
        height: 20px;
        width: 1.05px;
    }
}

@media screen and (max-width: 620px){
    nav{
        width: 100%;
        display: flex;
        justify-content: space-between;
        align-items: center;
        padding: 10px 0;
        height: 20vh;
        position: absolute;
        top: 0;
        left: 0;
    }
    .nav-links{
        display: none;
    }
    .nav-links-mobile{
        position: absolute;
        top: 6rem;
        right: 0rem;
        z-index: 2;
        display: block;
        list-style: none;
        box-shadow: rgba(50, 50, 93, 0.23) 0 30px 30px -20px;
        transition: all 0.5s ease-in-out;
        width: 100%;
        height: 100vh;
        background-color: white;
    }
    ul li{
        padding: 32px;
        width: 100%;
        transition: all 0.5s ease-in-out;
        text-align: center;
    }
    .mobile-menu-icon{
        position: absolute;
        display: block;
        right: 20px;
    }

}

