.footer{
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 5rem;
}
.navs{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}
.nav{
    display: flex;
    justify-content: space-between;
}
.nav ul{
    padding: 10px 30px;
    border-radius: 30px;
}
.footer ul li{
    display: inline-block;
    margin: 0 10px;
    color: var(--text-color);
    font-size: calc(40 * var(--res));     
    transition: all 1s ease;  
}
.footer ul li:hover{
    transform: scale(1.1);
}
.nav .btn{
    background: var(--bg2-color);
    color: var(--bg1-color);
    padding: 12px 25px;
    border: 0;
    outline: 0;
    border-radius: 30px;
    font-size: calc(32 * var(--res));
    cursor: pointer;
    box-shadow: 0 0 30px 0 rgba(0, 0, 0, 0.1);
}
.social_media{
    display: flex;
    justify-content: space-between;
    align-items: center;
    gap: 1.5rem;
}
.social_media div{
    transition: all 1s ease;
}
.social_media div:hover{
    transform: scale(1.5);
}