.footer{
    background-color: var(--bg2-color);
    color: var(--text2-color);
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 5rem;
    padding: 7.5%;
}
.footer1{
    border-top: 1px solid var(--bg1-color);
    width: 100%;
    display: flex;
    justify-content: space-around;
    align-items: center;
}
.nav{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 1.5rem;
}
.footer ul li{
    display: inline-block;
    font-size: calc(40 * var(--res));     
    transition: all 1s ease;  
    font-weight: bold;
}
.footer ul li:hover{
    transform: scale(1.1);
}
.some_links{
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    gap: 2rem;
}
.social_links{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 0.8rem;
}
h3{
    font-size: calc(37 * var(--res));     
    font-weight: bold;
}
.social_media{
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 1.5rem;
}
.social_media a{
    font-size: calc(37 * var(--res));
    transition: all 1s ease; 
}
.social_media a:hover{
    transform: scale(1.5);
    color: var(--bg3-color);
}
.social_media div{
    transition: all 1s ease;
}
.social_media div:hover{
    transform: scale(1.5);
}
.contact{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 0.8rem;
}
.contact div{
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 0.5rem;
    font-size: calc(27 * var(--res));
}
@keyframes bounce {
    0%, 100% {
      transform: translateY(0);
    }
    50% {
      transform: translateY(-5px);
    }
}
.footer2 button{
    display: none;
}
.btn-top {
    display: flex;
    align-items: center;
    gap: 8px;
    margin-top: 12px;
    padding: 8px 12px;
    background-color: var(--bg1-color);
    color: var(--bg2-color);
    border: none;
    border-radius: 4px;
    cursor: pointer;
    transition: background-color 0.3s ease;
}
.btn-top .icon {
    animation: bounce 1s infinite;
}
  

@media screen and (max-width: 600px){
    .footer2 button{
        display: block;
    }
    .footer .nav{
        display: none;
    }
    .logo_footer img{
        width: 100px;
        margin-top: 1rem;
    }
    .footer{
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: start;
    }
    .footer1{
        border-top: 1px solid var(--bg1-color);
        width: 100%;
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: start;
        gap: 1rem;
    }
    .social_links, .contact{
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: start;
    }
    .social_links, .contact{
        gap: 1.5rem;
    }
    .social_media a, h3{
        font-size: calc(70 * var(--res));
    }
    .contact div{
        font-size: calc(47 * var(--res));
    }
}