*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: "Montserrat", sans-serif;
    list-style: none;
    scroll-behavior: smooth;
}
a{
    text-decoration: none;
    color: inherit;
}
:root{
    --text-color: #000;
    --text2-color: #fff;
    --bg1-color: #fff;
    --bg2-color: #000;
    --bg3-color: #f07902;

    --res: calc(0.01 * 10vmin);
}
section{
    display: flex;
    align-items: center;
    justify-content: center;
    width: 100%;
}
.animate {
    opacity: 0;
    transform: translateY(20px);
    transition: opacity 0.6s ease-out, transform 0.6s ease-out;
}
  
.animate.show {
    opacity: 1;
    transform: translateY(0);
}
header{
    background-image: linear-gradient(rgba(0,0,0,0.7),rgba(0,0,0,0.7)), url('../../my-app/src/assets/homes.jpg');
    background-size: cover;
    background-position: center;
    padding:14% 0;
    width: 100%;
    min-height: 100vh;
}
.hero h1{
    text-align: center;
    font-size: calc(144 * var(--res));
    font-weight: 600;
    line-height: 7rem;
}
.hero h1 span{
    color: var(--bg3-color);
}
@keyframes slideInFromLeft {
    0% {
      opacity: 0;
      transform: translateX(-20px);
    }
    100% {
      opacity: 1;
      transform: translateX(0);
    }
}
  
.hero .word {
    display: inline-block;
    opacity: 0;
    animation: slideInFromLeft 1s ease forwards;
    color: var(--text2-color); 
}
  
.hero .highlight {
    color: var(--bg3-color);
}
  
.introduction{
    background-color: var(--bg2-color);
    color: var(--bg1-color);
    padding-bottom: 0;
    padding: 7.5%;
}
.introduction p, .mission p, .vision p{
    font-size: calc(57 * var(--res));
    line-height: 3rem;
}
.mission{
    background-color: var(--bg2-color);
    color: var(--text2-color);
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    gap: 1rem;
    padding:0 7.5% 7.5%;
}
.mission button, .first_galeries button{
    background-color: transparent;
    color: var(--bg1-color);
    outline: none;
    border: 0;
    font-size: calc(25 * var(--res));
    cursor: pointer;
}
.vision{
    background-color: var(--bg2-color);
    color: var(--text2-color);
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: 7.5%;
}
.vision h2{
    font-size: calc(96 * var(--res));
    margin-bottom: 7%;
    font-weight: 600;
    color: var(--bg3-color);
}
.vision ul li{
    margin-left: 2rem;
}
.arrow {
    color: var(--bg3-color);
    margin-right: 1.5rem;
    font-size: 1.5rem;
}
.services{
    background-color: var(--bg2-color);
    color: var(--text2-color);
    display: flex;
    flex-direction: column;
    align-items: center;
    align-items: center;
    padding: 0 7.5% 7.5%;
}
.services h2{
    font-size: calc(96 * var(--res));
    margin-bottom: 9%;
    font-weight: 600;
    color: var(--bg3-color);
}
.services h3{
    font-size: calc(48 * var(--res));
    margin-bottom: 3%;
}
.service{
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    grid-auto-flow: dense;
    color: var(--text2-color);
    overflow: hidden;
}
.service > div{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: flex-start;
    padding: 1rem;
    height: 50vh;
    width: auto;
}
.service p{
    font-size: calc(36 * var(--res));
}
.service .s1{
    background-color: #08ADD7;
}
.service .s2{
    background-color: #f07902;
}
.service .s3{
    background-color: #08aed76c;
}
.service .s4{
    background-color: #f0790267;
}
.first_galeries{
    background-color: var(--bg2-color);
    display: flex;
    flex-direction: column;
    align-items: start;
    gap: 2rem;
    padding: 0 7.5% 7.5%;
}
.first_galerie img {
    max-width: 100%;
    height: auto;
    vertical-align: middle;
    display: inline-block;
    position: relative;
    object-fit: cover;
}
.first_galerie > div{
    display: flex;
    justify-content: center;
    align-items: center;
}
.first_galerie > div > img{
    width: 100%;
    height: 100%;
    object-fit: cover;
    transition: 0.5s;
}
.first_galerie{
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(225px, 1fr));
    grid-auto-flow: dense;
    background-color: var(--bg2-color);
    color: var(--text2-color);
}
.first_galerie:hover .item img:not(:hover){
    filter: grayscale(1);
    opacity: 0.5;
}
.first_galerie .item .welcome-message {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    color: var(--bg1-color);
    font-size: 1.5rem;
    opacity: 0;
    transition: opacity 0.5s ease;
    text-align: center;
    z-index: 1;
    font-size: calc(80 * var(--res));
    font-weight: bold;
}
.first_galerie .item:hover .welcome-message {
    opacity: 1;
}
.first_galerie .item img {
    transition: transform 0.5s ease;
}
.first_galerie .item:hover img {
    transform: scale(1.1);
    filter: grayscale(0.5);
    opacity: 0.7;
}
.item1, .item2 {
    grid-column: span 2;
    grid-row: span 2;
}
.item3, .item4 {
    grid-column: span 2;
}
.item{
    position: relative;
    overflow: hidden;
}
.item6 button, .mission button{
    background-color: transparent;
    border: none;
    outline: none;
    color: var(--text2-color);
    font-size: calc(40 * var(--res));
    transition: all 1s ease; 
}
.item6 button:hover, .mission button:hover{
    transform: scale(1.1);
}
.testimonial{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    background-color: var(--bg1-color);
    padding: 7.5%;
}
.testimonial h2{
    text-align: center;
    color: var(--text-color);
    font-size: calc(96 * var(--res));
    margin-bottom: 7%;
    font-weight: 600;
}
.testimonials{
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(175px, 1fr));
    grid-auto-flow: dense;
    place-items: center;
}
.testimonials div {
    display: flex;
    justify-content: center;
    align-items: center;
}
.testimonials img {
    max-width: 100%;
    height: auto;
    vertical-align: middle;
    display: inline-block;
    position: relative;
    object-fit: cover;
}
@media screen and (max-width: 1114px) {
    .testimonials{
        background-color: var(--bg1-color);
        display: grid;
        grid-template-columns: repeat(auto-fit, minmax(150px, 1fr));
        grid-auto-flow: dense;
        place-items: center;
    }
    .testimonials img {
        max-width: 100%;
    }
}

@media screen and (max-width: 1084px) {
    .hero h1{
        font-size: calc(144 * var(--res));
        font-weight: 600;
        line-height: 5rem;
        max-width: 700px;
    }
    .testimonials{
        background-color: var(--bg1-color);
        display: grid;
        grid-template-columns: repeat(auto-fit, minmax(175px, 1fr));
        grid-auto-flow: dense;
        place-items: center;
    }
    .testimonials img {
        max-width: 100%;
    }
}


@media screen and (max-width: 900px) {
    header{
        display: flex;
        align-items: center;
        justify-content: flex-start;
        width: 100%;
        height: 100vh;
    }
    .hero h1{
        font-size: calc(128 * var(--res));
        line-height: 7rem;
    }
    .testimonials{
        background-color: var(--bg1-color);
        display: grid;
        grid-template-columns: repeat(auto-fit, minmax(125px, 1fr));
        grid-auto-flow: dense;
        place-items: center;
    }
    .introduction p, .mission p, .vision p, .valeur p{
        line-height: 4rem;
    }
    .service{
        grid-template-columns: repeat(2, 1fr);
    }
    .vision{
        margin-top: 11%;
    }
}
@media screen and (max-width: 834px){
    header{
        display: flex;
        align-items: center;
        justify-content: flex-start;
        width: 100%;
        height: 100vh;
    }
    .hero h1{
        line-height: 6rem;
    }
    .introduction p, .mission p, .vision p, .valeur p{
        line-height: 4rem;
    }
    .service{
        grid-template-columns: repeat(2, 1fr);
    }
    .vision{
        margin-top: 13%;
    }
    .testimonials{
        grid-template-columns: repeat(4, 1fr);
        grid-template-rows: repeat(3, 1fr);
    }
}
@media screen and (max-width: 768px){
    header{
        display: flex;
        align-items: end;
        justify-content: flex-start;
        width: 100%;
        height: 100vh;
        margin-bottom: 7rem;
    }
    .testimonials{
        grid-template-columns: repeat(4, 1fr);
        grid-template-rows: repeat(3, 1fr);
    }
    .testimonials img {
        max-width: 100%;
    }
    .service{
        grid-template-columns: repeat(2, 1fr);
    }
    .vision{
        margin-top: 12%;
    }
}
@media screen and (max-width: 430px) {
    header{
        display: flex;
        align-items: center;
        justify-content: flex-start;
        width: 100%;
        height: 100vh;
    }
    .hero h1{
        font-size: calc(136 * var(--res));
        font-weight: 600;
        line-height: 3.5rem;
        padding-top: 10rem;
    }
    .introduction p, .mission p, .vision p, .valeur p{
        font-size: calc(64 * var(--res));
        line-height: 2rem;
    }
    .testimonials{
        grid-template-columns: repeat(3, 1fr);
        grid-template-rows: repeat(3, 1fr);
    }
    .testimonials img {
        max-width: 100%;
    }
    .service{
        grid-template-columns: repeat(1, 1fr);
    }
    .service .sv{
        display: none;
    }
    .vision{
        margin-top: 22%;
    }
    .vision ul li{
        font-size: calc(72 * var(--res));
        line-height: 2rem;
    }
    .service > div{
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: flex-start;
        padding: 1rem;
        height: 40vh;
        width: auto;
    }
    .services h3{
        font-size: calc(80 * var(--res));
        margin-bottom: 3%;
    }
    .service p{
        font-size: calc(68 * var(--res));
    }
}

